/app/Config/Schema
/app/Config/acl.ini.php
/app/Config/acl.php
/app/Config/bootstrap.php
/app/Config/core.php
/app/Config/database.xeround.php
/app/Config/email.php
/app/Config/routes.php
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags
